body{ background: #fff; font-family: "微软雅黑";}
.search_top{ margin: 30px 0px 50px 0px; overflow: hidden; vertical-align: bottom;}
.search_logo{ float: left; width: 80px;}
.website_name{font-size: 24px; font-weight: bold; float: right; margin-top: 30px;}
.search_button{ padding-top: 30px;}
.search_result_con a:link{text-decoration:underline;color:#00c;} 
.search_result_con a:visited{text-decoration:underline;color:#00c;} 
.search_result_con a:hover{text-decoration:underline;color:#f00;} 
.search_result_con a:active{text-decoration:underline;color:#00c;}
.cle{ clear:both; font-size:0px;}
.search_result_con{ margin: 20px 10px 20px 10px; color:#333;font-size:15px;font-family:Arial, Helvetica, sans-serif;}
.result_title{ font-size: 16px;}
.author{ padding: 0 10px 0 20px; font-size: 12px;color:#666;}
.author_other{padding: 0 10px; font-size: 12px;color:#666;}
.result_content{ line-height: 1.54;}
.result_url{color: green;}
.pagestr {text-align: center;}

@media screen and (min-width: 320px){
.search_result_con{ margin: 20px 10px 20px 10px; max-width: 530px;}
.website_name{font-size: 20px; font-weight: bold; float: right; margin-top: 30px;}
}

@media screen and (min-width: 768px){
.search_result_con{ margin: 20px 10px 20px 30px; max-width: 530px;}
.website_name{font-size: 20px; font-weight: bold; float: right; margin-top: 30px;}
}


@media screen and (min-width: 922px){
.website_name{font-size: 24px; font-weight: bold; float: right; margin-top: 30px;}
.search_result_con{ margin: 20px 10px 20px 50px;font-size:13px; max-width: 530px;}
}

