<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>artical</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/licai.css" rel="stylesheet">

		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
		<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container header">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
       			 		<span class="sr-only">Toggle navigation</span>
          				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
					<a class="navbar-brand logo" href="/"></a>
				</div>
				<div class="navbar-collapse navbar-default collapse caidan" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-sm hidden-md">
							<a href="/" target="_blank">网站首页</a>
						</li>
						<li>
							<a href="/" target="_blank">励才概况</a>
						</li>
						<li>
							<a href="/" target="_blank">校务公开</a>
						</li>
						<li>
							<a href="/" target="_blank">励才广角</a>
						</li>
						<li>
							<a href="/" target="_blank">招生信息</a>
						</li>
						<li>
							<a href="/" target="_blank">校友风采</a>
						</li>
						<li>
							<a href="/" target="_blank">校长专栏</a>
						</li>
					</ul>
				</div>
				<div class="qrcode hidden-xs hidden-sm"><a href="#"><span class="glyphicon glyphicon-qrcode">　二维码分享</span></a>　　<a href="#"><span class="glyphicon glyphicon-globe">　网站地图</span></a></div>
			</div>
		</div>
		<div class="position_time container">
			<div class="pull-left">您当前位置：励才学校--<a href="#">网站首页</a></div>
			<div class="pull-right hidden-xs">下午好！ 2018年3月6日  星期二 </div>
			<div class="clearfix"></div>
		</div>
		<div class="container main artical">
			<div class="mtbt">眉头标题</div>
    		<div class="zbt">教研室在南苑学校举行小学语文省级立项课题月度研讨活动</div>
  		  	<div class="fbt">副标题</div>
  			<div class="datetime">2009-09-23 21:04:57</div>
		    <div class="listline"></div>
			<div class="Auditing">已审  编辑</div>
			<div class="unitnamemail">市实验小学 张广景</div>
			<div class="btimg"><img src="images/17.jpg"/></div>
			<div class="imgnote">图片简介</div>
			<div class="zhengwen">   <p>由教育局教研室牵头负责的"在语言训练中体验情感的阅读教学研究"课题在南苑学校举行了月度研讨活动。该课题是教育部基础教育课程改革南京师范大学研究中心、江苏教育出版社、国家课程标准小学语文实验教科书编委会、南京凤凰母语教育科学研究所第期立项课题。课题主持人为市教育局教研室沙华中主任，市实小、东桥小学、南苑学校、罗塘小学、新桥小学、三水学校等为重点研究学校。 </p><p>
      活动开始，南苑学校沐冬萍老师执教了《徐悲鸿励志学画》一课。沐老师的课立足学生的语言实践，努力探索语言训练与情感体验融合的操作策略，如：联系生活实际，补给认知空白，为情感体验提供了更为深广的认知背景；创设语言实践情境，引导学生反复吟咏，为语言训练搭建平台等。
      随后，沙华中主任围绕"语言训练中体验情感"做了专题讲座。沙主任就"为什么要进行语言文字训练"，"语言文字训练的内含是什么"以及"如何在语言训练中体验情感"三个问题进行了较为详实的论述。沙主任指出：语文教师应该正确认识语文学科的本质属性，忽视语言这个工具的教学已使学生语言能力欠缺，语文素养下降；语文教师需要对文本中闪耀着语文味的"字词句段"对学生进行恰当的"听说读写"训练。最后，课题重点研究学校的各负责同志谈了对本项课题的理解，并对如何扎实有效地开展课题研究工作进行了研讨。</p>
			</div>
			<div class="zhidao">指导</div>
			<div class="yifabiao">已发表</div>
			<div class="listline"></div>
			<div class="cotlink">相关链接</div>
			<div class="ipother">发布：czm   审核：admin   本文已被浏览10次  上次浏览IP：58.222.239.222</div>
			<div class="commentbox">评论相关</div>
			<div class="articlelink"> 上一篇： <a href="#">我校喜获"*********"称号</a><br />下一篇： <a href="#">"小学语文教师大赛"在我校圆满落幕</a></div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="col-md-3">
					<img src="images/blue.png" />
				</div>
			<div class="col-md-9"> © Copyright 2006-2018 <a href="#">泰州市姜堰区励才实验学校</a><br />
			学校地址：江苏省泰州市姜堰区长江东路125号　电话：0523-88267456　<br />
Power by <a href="http://www.lerx.com">lerx V5</a> <a href="#">苏ICP备123213123-1号</a> <a href="#">用户登录</a>
			</div>
			</div>
		</div>
		
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="js/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>