<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>class</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/licai.css" rel="stylesheet">

		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
		<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container header">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
       			 		<span class="sr-only">Toggle navigation</span>
          				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
					<a class="navbar-brand logo" href="/"></a>
				</div>
				<div class="navbar-collapse navbar-default collapse caidan" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-sm hidden-md">
							<a href="/" target="_blank">网站首页</a>
						</li>
						<li>
							<a href="/" target="_blank">励才概况</a>
						</li>
						<li>
							<a href="/" target="_blank">校务公开</a>
						</li>
						<li>
							<a href="/" target="_blank">励才广角</a>
						</li>
						<li>
							<a href="/" target="_blank">招生信息</a>
						</li>
						<li>
							<a href="/" target="_blank">校友风采</a>
						</li>
						<li>
							<a href="/" target="_blank">校长专栏</a>
						</li>
					</ul>
				</div>
				<div class="qrcode hidden-xs hidden-sm"><a href="#"><span class="glyphicon glyphicon-qrcode">　二维码分享</span></a>　　<a href="#"><span class="glyphicon glyphicon-globe">　网站地图</span></a></div>
			</div>
		</div>
		<div class="position_time container">
			<div class="pull-left">您当前位置：励才学校--<a href="#">网站首页</a></div>
			<div class="pull-right hidden-xs">下午好！ 2018年3月6日  星期二 </div>
			<div class="clearfix"></div>
		</div>
		<div class="container main">
			<div class="side hidden-sm hidden-xs">
				<div class="widget">
					<div class="title"><h4>分类导航</h4></div>
					<div class="side_content">
						<a href="#" class="btn btn-default btn-block" target="_blank">分类导航1</a>
						<a href="#" class="btn btn-default btn-block" target="_blank">分类导航2</a>
						<a href="#" class="btn btn-default btn-block" target="_blank">分类导航3</a>
						<a href="#" class="btn btn-default btn-block" target="_blank">分类导航4</a>
						<a href="#" class="btn btn-default btn-block" target="_blank">分类导航5</a>
						<a href="#" class="btn btn-default btn-block" target="_blank">分类导航6</a>
					</div>
				</div>
				<div class="widget side_2">
					<div class="title"><h4>推荐阅读</h4></div>
					<div class="side_content">
						<ul class="list-unstyled">
							<li><a href="#" target="_blank">人民日报：保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">中央候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国台办回应是否在收集“台独”分子名单：走过必留痕</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国内首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-12 col-sm-12 widget">
						<div class="title"><h4><a href="/" target="_blank">当前大分类标题</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/22</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">交通运输部“桑吉”轮碰撞事故调查</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right edit"><a href="#" target="_blank">编辑</a>　<a href="#" target="_blank">删除</a></span><span class="pull-right">04/21</span></li>
							</ul>
							<!--
                            	作者：yjp729@sina.com
                            	时间：2018-05-17
                            	描述：分页
                            -->
						</div>
					</div>
				</div>
				<div class="row small_class">
					<div class="col-md-12 col-sm-12 widget">
						<div class="title"><h5><a href="/" target="_blank">当前小分类标题</a></h5></div>
						<div class="main_content">
							<ul class="list-unstyled">
							<li><a href="#" target="_blank">人民日报：保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">中央候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国台办回应是否在收集“台独”分子名单：走过必留痕</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国内首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="row small_class">
					<div class="col-md-12 col-sm-12 widget">
						<div class="title"><h5><a href="/" target="_blank">当前小分类标题</a></h5></div>
						<div class="main_content">
							<ul class="list-unstyled">
							<li><a href="#" target="_blank">人民日报：保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">中央候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国台办回应是否在收集“台独”分子名单：走过必留痕</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国内首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="row small_class">
					<div class="col-md-12 col-sm-12 widget">
						<div class="title"><h5><a href="/" target="_blank">当前小分类标题</a></h5></div>
						<div class="main_content">
							<ul class="list-unstyled">
							<li><a href="#" target="_blank">人民日报：保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">中央候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国台办回应是否在收集“台独”分子名单：走过必留痕</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国内首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="col-md-3">
					<img src="images/blue.png" />
				</div>
			<div class="col-md-9"> © Copyright 2006-2018 <a href="#">泰州市姜堰区励才实验学校</a><br />
			学校地址：江苏省泰州市姜堰区长江东路125号　电话：0523-88267456　<br />
Power by <a href="http://www.lerx.com">lerx V5</a> <a href="#">苏ICP备123213123-1号</a> <a href="#">用户登录</a>
			</div>
			</div>
		</div>
		
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="js/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>