<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>index</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/licai.css" rel="stylesheet">

		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
		<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container header">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
       			 		<span class="sr-only">Toggle navigation</span>
          				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
					<a class="navbar-brand logo" href="/"></a>
				</div>
				<div class="navbar-collapse navbar-default collapse caidan" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-sm hidden-md">
							<a href="/" target="_blank">网站首页</a>
						</li>
						<li>
							<a href="/" target="_blank">励才概况</a>
						</li>
						<li>
							<a href="/" target="_blank">校务公开</a>
						</li>
						<li>
							<a href="/" target="_blank">励才广角</a>
						</li>
						<li>
							<a href="/" target="_blank">招生信息</a>
						</li>
						<li>
							<a href="/" target="_blank">校友风采</a>
						</li>
						<li>
							<a href="/" target="_blank">校长专栏</a>
						</li>
					</ul>
				</div>
				<div class="qrcode hidden-xs hidden-sm"><a href="#"><span class="glyphicon glyphicon-qrcode">　二维码分享</span></a>　　<a href="#"><span class="glyphicon glyphicon-globe">　网站地图</span></a></div>
			</div>
		</div>
		<div class="container lunbo">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic" data-slide-to="3"></li>
							<li data-target="#carousel-example-generic" data-slide-to="4"></li>
						</ol>

						<!-- Wrapper for slides -->
						<!-- 图片尺寸为1140*356 -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="images/1.jpg" alt="...">
								<div class="carousel-caption">这里显示图片新闻的标题001</div>
							</div>
							<div class="item">
								<img src="images/2.jpg" alt="...">
								<div class="carousel-caption">这里显示图片新闻的标题002</div>
							</div>
							<div class="item">
								<img src="images/3.jpg" alt="...">
								<div class="carousel-caption">这里显示图片新闻的标题003</div>
							</div>
							<div class="item">
								<img src="images/4.jpg" alt="...">
								<div class="carousel-caption">这里显示图片新闻的标题004</div>
							</div>
							<div class="item">
								<img src="images/5.jpg" alt="...">
								<div class="carousel-caption">这里显示图片新闻的标题005</div>
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
			</div>
		</div>
		<div class="container main">
			<div class="side hidden-sm hidden-xs">
				<div class="widget">
					<div class="title"><h4>公告</h4></div>
					<div class="side_content">
						<ul class="list-unstyled">
							<li><a href="#" target="_blank">人民日报：保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">中央候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国台办回应是否在收集“台独”分子名单：走过必留痕</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">国内首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗央行行长列入制裁名单</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">西安回应以克论净：针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							<li><a href="#" target="_blank">劳尔-交通运输部“桑吉”轮碰撞事故调查报告发布</a><span class="pull-right">04/21</span></li>
						</ul>
					</div>
				</div>
				<div class="widget side_2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="站内搜索">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</div>
				<div class="widget side_2">
					<div class="title"><h4>校内服务链接</h4></div>
					<div class="side_content">
						<a href="#" class="btn btn-danger btn-block" target="_blank">学生评教入口</a>
						<a href="#" class="btn btn-danger btn-block" target="_blank">录播室直播点播平台</a>
						<a href="#" class="btn btn-danger btn-block" target="_blank">电子图书馆</a>
						<a href="#" class="btn btn-danger btn-block" target="_blank">班级监控点</a>
						<a href="#" class="btn btn-danger btn-block" target="_blank">励才论坛</a>
						<a href="#" class="btn btn-danger btn-block" target="_blank">励才电子办公</a>
					</div>
				</div>
				<div class="widget side_2">
					<div class="title"><h4>常用链接</h4></div>
					<div class="side_content">
						<a href="#" class="btn btn-success btn-block" target="_blank">办公平台</a>
						<a href="#" class="btn btn-success btn-block" target="_blank">教育博客</a>
						<a href="#" class="btn btn-success btn-block" target="_blank">教育论坛</a>
						<a href="#" class="btn btn-success btn-block" target="_blank">江苏教育</a>
						<a href="#" class="btn btn-success btn-block" target="_blank">泰州教育</a>
						<a href="#" class="btn btn-success btn-block" target="_blank">区教师发展中心</a>
						<a href="#" class="btn btn-success btn-block" target="_blank">泰州人事考试网</a>
					</div>
				</div>
				<div class="widget side_2">
					<div class="title"><h4>网站统计</h4></div>
					<div class="side_content">
						
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">励才头条</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">交通运输部“桑吉”轮碰撞事故调查</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">校务公开</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">交通运输部“桑吉”轮碰撞事故调查</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="hengfu">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- 图片尺寸为900*174 -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="images/hf0.jpg" alt="...">
							</div>
							<div class="item">
								<img src="images/hf1.jpg" alt="...">
							</div>
							<div class="item">
								<img src="images/hf2.jpg" alt="...">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">教学天地</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">教研动态</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">德育长廊</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">缤纷社团</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="content student">
				<div class=" widget"><div class="title"><h4><a href="/" target="_blank">励才之星</a></h4></div></div>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<!-- 图片尺寸为160*120 -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="row">
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s1.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s2.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s3.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s4.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s5.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s6.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s7.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s8.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s9.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s10.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s11.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								<div class="col-xs-3">
									<a href="#" target="_blank"><img src="images/s12.jpg" class="img-thumbnail img-responsive center-block"/></a>
									<div class="student_text"><a href="#" target="_blank">八年级13班 王语嫣</a></div>
								</div>
								</div>
							</div>
						</div>
			</div>
			</div>
			
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">数字校园</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">安全教育</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">焦点督查</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">党员之家</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">后勤展台</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 widget">
						<div class="title"><h4><a href="/" target="_blank">工会之窗</a></h4></div>
						<div class="main_content">
							<ul class="list-unstyled">
								<li><a href="#" target="_blank">保障乘客安全是网约车规范发展的底线</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">候补委员戴厚良出任中国石化董事长</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">台办回应是否在收集“台独”分子名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">首枚民营自研商业火箭成功发射</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">伊朗强烈谴责美国将伊朗列入制裁名单</a><span class="pull-right">04/21</span></li>
								<li><a href="#" target="_blank">针对机械清扫 不对环卫工扣罚</a><span class="pull-right">04/21</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="col-md-3">
					<img src="images/blue.png" />
				</div>
			<div class="col-md-9"> © Copyright 2006-2018 <a href="#">泰州市姜堰区励才实验学校</a><br />
			学校地址：江苏省泰州市姜堰区长江东路125号　电话：0523-88267456　<br />
Power by <a href="http://www.lerx.com">lerx V5</a> <a href="#">苏ICP备123213123-1号</a> <a href="#">用户登录</a>
			</div>
			</div>
		</div>
		
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="js/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>